{# templates/.../checkout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

<div class="grid grid-flow-row">
    <div>Nome</div>
    <div>Descrição</div>
    <div>Imagem</div>
    <div>Categoria</div>
    <div>características</div>
</div>

{% endblock %}